<div class="navbar">
    <div class="title">Blog<span>Iz</span></div>

    <button class="menuButton">
        <span class="material-symbols-outlined">
            menu
            </span>
    </button>

    <div class="navlinks">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><button class="contact"><a>About Us</a></button></li>
            <li><button class="contact"><a>Contact Us</a></button></li>
            <li>
                <div class="loginButton">
                    <button><a href="/login">Login</a></button>
                </div>
            </li>
        </ul>
    </div>
</div>