<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <title>BlogIz</title>
    <style>
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
        }

        </style>
</head>
<body>
    <%- include("partials/navbar.ejs"); %>

    <div class="hero">
        <div class="heroText">
            <div class="title">Dive into Blog<span>Iz</span></div>
            <div class="catchPhrase"><p>Your daily dose of Inspiration and Creativity!</p></div>
        </div>
    </div>

    <div class="trendingBlock">
        <div class="blockTitle">Trending</div>
        <div class="carousel">
            <div class="gridContainer">
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>
            <div class="navbtns">
                <button class="prev">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <button class="next">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
    

    <div class="recentBlock">
        <div class="blockTitle">Recent</div>
        <div class="carousel">
            <div class="gridContainer2">
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="box">
                    <div class="cardImg"></div>
                    <div class="cardTitle">
                        Lorem Ipsum
                    </div>
                    <div class="cardText">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit aut ullam aspernatur ab molestias? Voluptatum distinctio et rep.
                    </div>
                    <div class="view">
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>
            <div class="navbtns">
                <button class="prev2">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <button class="next2">
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="footerdiv">
        <%- include("partials/footer.ejs"); %>
    </div>

    <script src="js/index.js"></script>
</body>
</html>